*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background: #f4f4f4;
}

.todo {
    width: 530px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.title {
    background: #db4c3f;
    color: white;
    padding: 15px;
    font-size: 22px;
    font-weight: 500;
}

.main {

}
.list {
    overflow: auto;
    height: 390px;
}