*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background: #f4f4f4;
}

.todo {
    width: 530px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 29px 0 rgba(50, 50, 50, 0.42);
}

.title {
    background: #db4c3f;
    color: white;
    padding: 15px;
    font-size: 22px;
    font-weight: 500;
}

.main {

}

.list {
    overflow: auto;
    height: 390px;
}

@media screen and (max-device-width: 530px) {
    .todo {
        width: 100%;
        border-radius: 0;
        height: 100%;
    }

    .main {
        height: 100%;
    }

    .list {
        height: calc(100% - 110px);
    }
}
